# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidence to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
air_bnb = pd.read_csv('files/AB_NYC_2019.csv')
air_bnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [3]:
air_bnb.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [4]:
data = pd.DataFrame.from_dict(air_bnb)
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [38]:
# Which hosts are the busiest and why?

air_bnb.groupby(['host_id','host_name']).sum().sort_values('calculated_host_listings_count', ascending = False)

,,id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
host_id,host_name,,,,,,,,,
219517861,Sonder (NYC),10885561678,13316.25823,-24198.18856,82795,4353,1281,397.56,106929,98588
107434423,Blueground,7210036953,9451.60418,-17166.13165,70331,7470,29,6.04,53824,58884
30283594,Kara,1611854192,4931.41347,-8952.50779,33581,3767,65,3.94,14641,37924
137358866,Kazuya,3121544245,4197.55601,-7612.96008,4514,3090,87,22.68,10609,20237
16098958,Jeremy & Laura,1581720858,3912.98277,-7101.94534,20060,2880,138,7.30,9216,28063
...,...,...,...,...,...,...,...,...,...,...
13543967,Paulina,32338134,40.72912,-73.95203,100,3,4,1.36,1,53
13541655,Michael,4455094,40.73014,-74.00754,159,2,150,3.19,1,54
13540183,Ashley,18297633,40.63676,-73.95033,150,2,0,0.00,1,0
13538150,Mariana,28484124,40.77054,-73.99305,97,2,1,1.00,1,8
274321313,Kat,36484087,40.76392,-73.99183,125,4,0,0.00,1,31

In [58]:
# How many neighborhood groups are available and which shows up the most? air_bnb.groupby(['neighbourhood_group','availability_365']).count()

availabilty = air_bnb[air_bnb['availability_365'] < 365]
print(availabilty['neighbourhood_group'].count())
availabilty.groupby(['neighbourhood_group']).describe()

47600

                          id                                                   \
                       count          mean           std      min         25%
neighbourhood_group
Bronx                 1037.0  2.275557e+07  1.020395e+07  44096.0  16162933.0
Brooklyn             19651.0  1.823752e+07  1.079349e+07   3831.0   8762818.5
Manhattan            21089.0  1.878287e+07  1.115049e+07   2595.0   9172192.0
Queens                5462.0  2.175360e+07  1.033640e+07  12937.0  13958697.0
Staten Island          361.0  2.161891e+07  1.039657e+07  42882.0  15797728.0

                                                         host_id  \
                            50%         75%         max    count
neighbourhood_group
Bronx                23859280.0  31896339.0  36442252.0   1037.0
Brooklyn             18837073.0  27729053.5  36485057.0  19651.0
Manhattan            19138221.0  29513311.0  36487245.0  21089.0
Queens               22532179.5  30741137.5  36484363.0   5462.0
Staten Island        23059062.0  30037932.0  36438336.0    361.0

                                   ... calculated_host_listings_count         \
                             mean  ...                            75%    max
neighbourhood_group                ...
Bronx                1.055365e+08  ...                            2.0   37.0
Brooklyn             5.605979e+07  ...                            2.0  232.0
Manhattan            6.766212e+07  ...                            2.0  327.0
Queens               9.560534e+07  ...                            3.0  103.0
Staten Island        9.778958e+07  ...                            3.0    8.0

                    availability_365                                     \
                               count        mean         std  min   25%
neighbourhood_group
Bronx                         1037.0  155.383799  130.645757  0.0  34.0
Brooklyn                     19651.0   94.128798  121.077771  0.0   0.0
Manhattan                    21089.0  105.116696  127.660884  0.0   0.0
Queens                        5462.0  136.214573  131.042196  0.0   0.0
Staten Island                  361.0  194.182825  130.472687  0.0  73.0


                       50%     75%    max
neighbourhood_group
Bronx                129.0  296.00  364.0
Brooklyn              23.0  178.00  364.0
Manhattan             31.0  210.00  364.0
Queens                90.0  265.75  364.0
Staten Island        201.0  320.00  364.0

[5 rows x 80 columns]

In [99]:
# Are private rooms the most popular in manhattan?

air_bnb.groupby(['neighbourhood_group','room_type']).describe().sort_values('room_type')

                                          id                              \
                                       count          mean           std
neighbourhood_group room_type
Bronx               Entire home/apt    379.0  2.269787e+07  1.023938e+07
Brooklyn            Entire home/apt   9559.0  1.730117e+07  1.105914e+07
Manhattan           Entire home/apt  13199.0  1.866860e+07  1.137015e+07
Queens              Entire home/apt   2096.0  2.112772e+07  1.065926e+07
Staten Island       Entire home/apt    176.0  2.170833e+07  1.063075e+07
Bronx               Private room       652.0  2.235896e+07  1.024345e+07
Brooklyn            Private room     10132.0  1.894125e+07  1.053306e+07
Manhattan           Private room      7982.0  1.880759e+07  1.082334e+07
Queens              Private room      3372.0  2.197231e+07  1.018115e+07
Staten Island       Private room       188.0  2.106201e+07  1.020021e+07
Bronx               Shared room         60.0  2.705442e+07  9.214597e+06
Brooklyn            Shared room        413.0  2.358634e+07  9.984267e+06
Manhattan           Shared room        480.0  2.115615e+07  1.095069e+07
Queens              Shared room        198.0  2.469434e+07  1.003835e+07
Staten Island       Shared room          9.0  3.061484e+07  4.482916e+06

                                                                          \
                                            min          25%         50%
neighbourhood_group room_type
Bronx               Entire home/apt     63610.0  15031603.50  24118031.0
Brooklyn            Entire home/apt      3831.0   7268562.50  17500539.0
Manhattan           Entire home/apt      2595.0   8833426.50  19011527.0
Queens              Entire home/apt     45910.0  13099789.25  21911764.0
Staten Island       Entire home/apt    225976.0  14553704.25  22925904.0
Bronx               Private room        44096.0  16177417.50  23296587.5
Brooklyn            Private room         2539.0   9817477.25  19665638.0
Manhattan           Private room         3647.0   9585945.00  19049897.0
Queens              Private room        12937.0  14686424.00  22782415.0
Staten Island       Private room        42882.0  16059131.25  22129002.0
Bronx               Shared room       2392296.0  20734872.00  30531422.5
Brooklyn            Shared room        646391.0  16300101.00  26440393.0
Manhattan           Shared room         12048.0  11698076.00  22350176.0
Queens              Shared room        391948.0  19779691.00  28004826.5
Staten Island       Shared room      22977021.0  27962805.00  28909477.0

                                                              host_id  \
                                             75%         max    count
neighbourhood_group room_type
Bronx               Entire home/apt  31715942.00  36442252.0    379.0
Brooklyn            Entire home/apt  26839516.50  36483152.0   9559.0
Manhattan           Entire home/apt  29848697.50  36485431.0  13199.0
Queens              Entire home/apt  30570898.00  36472710.0   2096.0
Staten Island       Entire home/apt  31381761.00  36310353.0    176.0
Bronx               Private room     31503478.50  36435986.0    652.0
Brooklyn            Private room     28301354.50  36485057.0  10132.0
Manhattan           Private room     28935059.00  36487245.0   7982.0
Queens              Private room     30750954.25  36484363.0   3372.0
Staten Island       Private room     28491798.50  36438336.0    188.0
Bronx               Shared room      34673624.25  36379669.0     60.0
Brooklyn            Shared room      32234380.00  36473253.0    413.0
Manhattan           Shared room      31091598.50  36485609.0    480.0
Queens              Shared room      33578597.25  36399640.0    198.0
Staten Island       Shared room      34870577.00  36202006.0      9.0

                                                   ...  \
                                             mean  ...
neighbourhood_group room_type                      ...
Bronx               Entire home/apt  1.037373e+08  ...
Brooklyn            Entire home/apt  4.861704e+07  ...
Manhattan           Entire home/apt  6.557697e+07  ...
Queens              Entire home/apt  8.713280e+07  ...
Staten Island       Entire home/apt  9.618779e+07  ...
Bronx               Private room     1.060786e+08  ...
Brooklyn            Private room     6.242636e+07  ...
Manhattan           Private room     6.982314e+07  ...
Queens              Private room     1.008169e+08  ...
Staten Island       Private room     1.017539e+08  ...
Bronx               Shared room      1.123450e+08  ...
Brooklyn            Shared room      1.040423e+08  ...
Manhattan           Shared room      9.666720e+07  ...
Queens              Shared room      1.123200e+08  ...
Staten Island       Shared room      7.713866e+07  ...

                                    calculated_host_listings_count         \
                                                               75%    max
neighbourhood_group room_type
Bronx               Entire home/apt                            2.0   13.0
Brooklyn            Entire home/apt                            1.0  232.0
Manhattan           Entire home/apt                            2.0  327.0
Queens              Entire home/apt                            2.0   15.0
Staten Island       Entire home/apt                            2.0    7.0
Bronx               Private room                               3.0   37.0
Brooklyn            Private room                               2.0  103.0
Manhattan           Private room                               2.0  327.0
Queens              Private room                               4.0  103.0
Staten Island       Private room                               3.0    8.0
Bronx               Shared room                                7.0   13.0
Brooklyn            Shared room                                7.0   34.0
Manhattan           Shared room                                4.0   28.0
Queens              Shared room                                6.0   18.0
Staten Island       Shared room                                7.0    7.0

                                    availability_365                          \
                                               count        mean         std
neighbourhood_group room_type
Bronx               Entire home/apt            379.0  158.000000  132.468245
Brooklyn            Entire home/apt           9559.0   97.205147  121.034159
Manhattan           Entire home/apt          13199.0  117.140996  134.282211
Queens              Entire home/apt           2096.0  132.267176  130.578088
Staten Island       Entire home/apt            176.0  178.073864  128.010000
Bronx               Private room               652.0  171.331288  136.246808
Brooklyn            Private room             10132.0   99.917983  128.812339
Manhattan           Private room              7982.0  101.845026  128.367346
Queens              Private room              3372.0  149.222716  136.683393
Staten Island       Private room               188.0  226.361702  129.677993
Bronx               Shared room                 60.0  154.216667  140.776430
Brooklyn            Shared room                413.0  178.007264  154.617356
Manhattan           Shared room                480.0  138.572917  146.525946
Queens              Shared room                198.0  192.186869  151.669024
Staten Island       Shared room                  9.0   64.777778   96.890115


                                     min    25%    50%     75%    max
neighbourhood_group room_type
Bronx               Entire home/apt  0.0  32.00  131.0  300.50  365.0
Brooklyn            Entire home/apt  0.0   0.00   28.0  189.00  365.0
Manhattan           Entire home/apt  0.0   0.00   42.0  245.00  365.0
Queens              Entire home/apt  0.0   0.00   89.0  263.00  365.0
Staten Island       Entire home/apt  0.0  49.00  176.5  301.50  365.0
Bronx               Private room     0.0  45.75  157.0  322.25  365.0
Brooklyn            Private room     0.0   0.00   24.0  179.00  365.0
Manhattan           Private room     0.0   0.00   29.0  188.00  365.0
Queens              Private room     0.0   3.00  108.0  298.00  365.0
Staten Island       Private room     0.0  88.75  282.0  346.25  365.0
Bronx               Shared room      0.0  22.50   89.0  318.25  365.0
Brooklyn            Shared room      0.0   0.00  156.0  343.00  365.0
Manhattan           Shared room      0.0   0.00   81.0  320.00  365.0
Queens              Shared room      0.0  28.75  175.5  354.00  365.0
Staten Island       Shared room      0.0   8.00   37.0   68.00  312.0

[15 rows x 80 columns]

In [128]:
# Which hosts are the busiest and based on their reviews?
#airbnb/groupby('host_id', 'host_name']).number_of_reviews.sum().nlargest(10)
air_bnb.sort_values(by=['host_id','number_of_reviews'], )

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
30604,23669201,Great Price: Williamsburg Brooklyn Loft off L ...,2438,Tasos,Brooklyn,Williamsburg,40.71412,-73.94447,Entire home/apt,95,45,1,2018-03-17,0.06,1,0
2290,1101224,THE PUTNAM,2571,Teedo,Brooklyn,Bedford-Stuyvesant,40.68674,-73.93845,Entire home/apt,182,9,27,2019-05-21,0.37,1,23
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
13963,10593675,"La Spezia room. Clean, quiet and comfortable bed",2787,John,Brooklyn,Bensonhurst,40.60951,-73.97642,Shared room,79,1,15,2018-09-29,0.43,6,180
13583,10160215,Torre del Lago Room.,2787,John,Brooklyn,Gravesend,40.60755,-73.97410,Private room,79,1,17,2019-06-26,0.40,6,174
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48875,36478343,Welcome all as family,274273284,Anastasia,Manhattan,East Harlem,40.78749,-73.94749,Private room,140,1,0,NaN,NaN,1,180
48881,36481615,"Peaceful space in Greenpoint, BK",274298453,Adrien,Brooklyn,Greenpoint,40.72585,-73.94001,Private room,54,6,0,NaN,NaN,1,15
48884,36482783,Brooklyn Oasis in the heart of Williamsburg,274307600,Jonathan,Brooklyn,Williamsburg,40.71790,-73.96238,Private room,190,7,0,NaN,NaN,1,341
48886,36483010,Comfy 1 Bedroom in Midtown East,274311461,Scott,Manhattan,Midtown,40.75561,-73.96723,Entire home/apt,200,6,0,NaN,NaN,1,176
48888,36484087,"Spacious Room w/ Private Rooftop, Central loca...",274321313,Kat,Manhattan,Hell's Kitchen,40.76392,-73.99183,Private room,125,4,0,NaN,NaN,1,31

In [ ]:
#Which neighorhood group has the highest average price?
#air_bnb.groupby('neighbourhood_group').price.mean().sort_values(ascending=False)

In [ ]:
# Which neighbor hood group has the highest total price?
#air_bnb.groupby('neighbourhood_group').price.sum().sort_values(asending=False)

In [ ]:
#Which top 5 hosts have the highest total price?
# air_bnb.groupb(['host_id','host_name']).price.sum().sort_values(ascending=False).nlargest(5)

In [ ]:
# Who currently has no (zero) availability with a review count of 100 or more?

# air_bnb[(air_bnb['availabiluty_365'] ==0) & (air_bnb['numberofreviews'] >= 100)]
# air_bnb.query('availability ==0 and number of reviews >= 100')

In [ ]:
# What host has the highest total of prices and where are they located?
#  air_bnb..groupby(['host_name','neighborhood']).price.sum().nlargest(5)

In [ ]:
# When did Danielle from Queens last receive a review?

# air_bnb.query("host_name == 'Danille' and neighbourhood_group = 'Queens'").last_review.sort_values(ascending=False)

## Further Questions

1. Which host has the most listings?

In [ ]:
# air_bnb.groupby(['host_id','host_name']).id.count().nlargest(10)

2. How many listings have completely open availability?

In [122]:
opens = air_bnb[air_bnb['availability_365'] == 0]
opens.describe()['availability_365']

count    17533.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: availability_365, dtype: float64

3. What room_types have the highest review numbers?

In [ ]:
#air_bnb.groupby('')

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --

<h2>#1</h2><p>hello</p>
<h2>#2</h2><p>there are 47600 available rooms all 5 groups are available. The neighbourhood group that shows up the most is Manhattan.</p>
<h2>#3</h2><p>manhattan does have the highest number of private rooms</p>
<h2>#4</h2><p>hello</p>
<h2>#5</h2><p>hello</p>
<h2>#6</h2><p>hello</p>
<h2>#7</h2><p>hello</p>
<h2>#8</h2><p>hello</p>
<h2>#9</h2><p>hello</p>
<h2>#10</h2><p>hello</p>